<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password reset</title>
</head>
<body>
<i>
I forget<br>
You forget<br>
He/She/It forgets<br>
We forget<br>
You forget<br>
They forget<br>
</i>
<br>
We have way too many thing going on... Don't worry!<br>
If only everything was as easy as changing a password: <a href="{{url_eng}}" target="_blank">change it here</a> 🔑<br>
The link will expire in 30 minutes.<br><br>
Cheers,<br>
centrífuga4<br>
www.centrifuga4.xamfra.net<br>
<br>
...<br>
<br>
<i>
Jo oblido<br>
Tu oblides<br>
Ellx oblida<br>
Nosaltres oblidem<br>
Vosaltres oblideu<br>
Ellxs obliden<br>
</i>
<br>
Tenim massa coses al cap... No et preocupis!<br>
Si tot fos tan fàcil com canviar una contrasenya: <a href="{{url_cat}}" target="_blank">canvia-la aquí</a> 🔑<br>
L'enllaç caducarà en 30 minuts.<br><br>
Fins aviat,<br>
centrífuga4<br>
www.centrifuga4.xamfra.net<br>
</body>
</html>