<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>invite</title>
</head>
<body>
Hi,<br><br>
We are so happy to have you on-board! Click <a href="{{url_eng}}" target="_blank">here</a> to register 📝<br><br>
Cheers,<br>
centrífuga4<br>
www.centrifuga4.xamfra.net<br>
<br>
...<br>
<br>
Hola,<br><br>
Ens il·lusiona que usis la centrífuga4! Segueix <a href="{{url_cat}}" target="_blank">aquest enllaç</a> per registrar-te 📝<br><br>
Fins aviat,<br>
centrífuga4<br>
www.centrifuga4.xamfra.net<br>
</body>
</html>