<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password reset</title>
</head>
<body>
Your password has been changed successfully!<br>
Contact the administrator ASAP if you did not request and complete this change.<br><br>
Cheers,<br>
centrífuga4<br>
www.centrifuga4.xamfra.net<br>
<br>
...<br>
<br>
El teu canvi de paraula de pas s'ha completat correctament!<br>
Contacta l'administradorx urgentment si no has demanat i completat aquest canvi.<br><br>
Fins aviat,<br>
centrífuga4<br>
www.centrifuga4.xamfra.net<br>
<br>
</body>
</html>