<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🔎 ❎</title>
    <style>
        .aligncenter {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="aligncenter">
    <span style="font-size: small">
        <p style="text-align: center">Xamfrà | C. de les Tàpies, 9, 08001 Barcelona | xamfra@xamfra.net | (+34) 934 439 151</p>
        <p style="text-align: center">L'ARC TALLER DE MÚSICA, FUNDACIÓ PRIVADA</p>
    </span>
</div>

<div class="aligncenter" style="margin-top: 75px; margin-bottom: 50px">
    <a href="http://xamfra.net/">
        <img src="{{server_address}}/logo_xamfra_bw.png" width="75px" />
    </a>
</div>

<p style="margin-left: 100px; margin-right: 100px; text-align: justify">
    <span style="font-size: x-small; font-weight: bold">CAT</span><br>
    El document no ha passat la validació, no és autèntic.
    <br><br>

    <span style="font-size: x-small; font-weight: bold">ESP</span><br>
    El documento no ha pasado la validación, no es auténtico.<br><br>

    <span style="font-size: x-small; font-weight: bold">ENG</span><br>
    The document has not passed validation, it is not authentic.<br><br>
</p>



</body>

</html>