<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🔎 ✅</title>
</head>
<body>

<div>
    El document ha passat la validació, la informació autèntica és la següent.<br><br>
    El documento ha pasado la validación, la información auténtica es la siguiente.<br><br>
    The document has passed validation, the authentic information is the following.<br><br>

    <br><br>
    <div>
<span>

     {% for key, value in data.items() %}
       <b>{{key}}: </b> {{value}}<br>
   {% endfor %}
        </span>
</div>


</div>
    <div>
<br><br>
    <span>
    Passar la validació no garanteix que:<br>
    - El fitxer que us ha dirigit a aquest enllaç sigui vàlid en la seva totalitat.<br><br>
    Passar la validació garanteix que:<br>
    - El document es va emetre originalment pel servidor.<br>
    - Tota la informació que es troba a continuació és original i va ser criptogràficament signada en emetre el document.<br>
    </span>
    <br><br><br>

    <span>
    Pasar la validación no garantiza que:<br>
    - El archivo que le ha dirigido a este enlace sea válido en su totalidad.<br><br>
    Pasar la validación garantiza que:<br>
    - El documento se emitió originalmente por el servidor.<br>
    - Toda la información que se encuentra a continuación es original y fue criptográficamente firmada al emitir el documento.<br>
    </span>
    <br><br><br>

    <span>
    Passing validation does not guarantee that:<br>
    - The file which redirected you here is valid as a whole.<br><br>
    Passing validation guarantees that:<br>
    - The document was issued originally by the server.<br>
    - All the information which is found below is authentic and was cryptographically signed when the document was issued.<br>
    </span>
    <br>


</div>

</div>
</body>

</html>