<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🔎 ✅</title>
    <style>
        .aligncenter {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="aligncenter">
    <span style="font-size: small">
        <p style="text-align: center">Xamfrà | C. de les Tàpies, 9, 08001 Barcelona | xamfra@xamfra.net | (+34) 934 439 151</p>
        <p style="text-align: center">L'ARC TALLER DE MÚSICA, FUNDACIÓ PRIVADA</p>
    </span>
</div>

<div class="aligncenter" style="margin-top: 75px; margin-bottom: 50px">
    <a href="http://xamfra.net/">
        <img src="{{server_address}}/logo_xamfra_bw.png" width="75px" />
    </a>
</div>

<div style="margin-left: 100px; margin-right: 100px; text-align: justify">
   <div style="height: 100vh"> <span style="font-size: x-small; font-weight: bold">CAT</span><br>
    El document ha passat la validació, la informació autèntica és la següent.<br><br>


    <span style="font-size: x-small; font-weight: bold">ESP</span><br>
    El documento ha pasado la validación, la información auténtica es la siguiente.<br><br>


    <span style="font-size: x-small; font-weight: bold">ENG</span><br>
    The document has passed validation, the authentic information is the following.<br><br>

    <br><br><br><br>
    <div style="text-align: center; width: 100%">
<span style="font-size: x-small;">

     {% for key, value in data.items() %}
       <span style="font-weight: bold">{{key}}: </span>{{value}}<br>
   {% endfor %}
        </span>
</div>


</div>
    <div style="height: 100vh">
<br><br><br>
<span style="font-size: x-small; font-weight: bold">CAT</span><br>
    <span style="font-size: small">
    Passar la validació no garanteix que:<br>
    - El fitxer que us ha dirigit a aquest enllaç sigui vàlid en la seva totalitat.<br><br>
    Passar la validació garanteix que:<br>
    - El document es va emetre originalment pel servidor.<br>
    - Tota la informació que es troba a continuació és original i va ser criptogràficament signada en emetre el document.<br>
    </span>
    <br><br><br>

<span style="font-size: x-small; font-weight: bold">ESP</span><br>
    <span style="font-size: small">
    Pasar la validación no garantiza que:<br>
    - El archivo que le ha dirigido a este enlace sea válido en su totalidad.<br><br>
    Pasar la validación garantiza que:<br>
    - El documento se emitió originalmente por el servidor.<br>
    - Toda la información que se encuentra a continuación es original y fue criptográficamente firmada al emitir el documento.<br>
    </span>
    <br><br><br>

<span style="font-size: x-small; font-weight: bold">ENG</span><br>
    <span style="font-size: small">
    Passing validation does not guarantee that:<br>
    - The file which redirected you here is valid as a whole.<br><br>
    Passing validation guarantees that:<br>
    - The document was issued originally by the server.<br>
    - All the information which is found below is authentic and was cryptographically signed when the document was issued.<br>
    </span>
    <br>


</div>

</div>
</body>

</html>