<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .aligncenter {
            text-align: center;
        }
        #page-container {
          position: relative;
          min-height: 100%;
        }
        table {
          border-collapse: collapse;
          width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
        }

        th:nth-child(1) {
          text-align: left;
        }

        th:nth-child(2) {
          text-align: right;
        }

    </style>
</head>
<body>


<div id="page-container">
    <div class="aligncenter" >

        <span style="font-size: small">
            <p style="text-align: center">Xamfrà | C. de les Tàpies, 9, 08001 Barcelona | xamfra@xamfra.net | (+34) 934 439 151</p>
            <p style="text-align: center">L'ARC TALLER DE MÚSICA, FUNDACIÓ PRIVADA</p>
        </span>


    </div>

    <div class="aligncenter" style="margin-top: 35px; margin-bottom: 35px">
         <a href="http://xamfra.net/" >
            <img src="{{server_address}}/logo_xamfra_bw.png" width="65px" />
        </a>
    </div>

    <div style="font-family: 'Montserrat', sans-serif">

    <div style="margin-left: 55px; margin-right: 55px;">
<div style="font-size: small">
    <h4>MATRICULACIÓ</h4>

    <h5>DADES DE L'ALUMNE/A | DATOS DEL ALUMNO/A | STUDENT'S DATA</h5>
    <hr>

            {% for label, value in
            [("nom / nombre / name", student.name),
            ("primer cognom / primer apellido / first surname", student.surname1),
            ("segon cognom / segundo apellido / second surname", student.surname2),
            ("n. expedient / nº expediente / student id", student.id),
            ("data de naixement / fecha de nacimiento / birth date", student.birth_date),
            ("adreça / dirección / address", student.address),
            ("codi postal / código postal / ZIP", student.zip),
            ("ciutat / ciudad / city", student.city),
            ("correu de l'estudiant / correo del estudiante / student's email", student.email),
            ("telèfon de l'estudiant / teléfono del estudiante / student's phone", student.phone)
            ]%}
             <b>{{label}}</b>
            <br>
            {{value if value else "-"}}
            <br><br>
             {% endfor %}
            {% for guardian in guardians %}

            {% if guardian.email %}
        <b>correu de contacte / correo de contacto / contact email</b>
            <br>
            {{guardian.email}}
            <br>
        {% endif %}
        {% if guardian.phone %}
            <b>telèfon de contacte / teléfono de contacto / contact phone</b>
            <br>
            {{guardian.phone}}
            <br>
        {% endif %}
    <br>




            {% endfor %}


        <h5>CURSOS I TALLERS | CURSOS Y TALLERES | COURSES & WORKSHOPS</h5>
    <hr>
        {% for course in courses %}
             <b>{{course.name}}</b><br>

            {% if course.description %}
              {{ course.description }}<br>
            {% endif %}

        {% if course.id in schedules %}
            <i>horari / horario / schedule</i><br>
            {% if schedules[course.id]|length > 0 %}
            {% for schedule in schedules[course.id] %}
            {{ schedule }}<br>
             {% endfor %}
            {% else %}
            a det. / unspecified
    {% endif %}
        {% endif %}
    <br><br>
        {% endfor %}

        <h5>PAGAMENT | PAGO | PAYMENT</h5>
    <hr>
    <b>forma de pagament per defecte / forma de pago preferida / default payment method</b><br>
    {{"-" if not student.default_payment_method else student.default_payment_method }}<br>

    <b>periodicitat / periodicidad / periodicity</b><br>
    trimestral (3 per curs) / trimestral (3 por curso) / quarterly (3 per school year)<br><br>

    <table>
        <tr>
            <th>
                <span style="font-weight: normal">
                    preu base trimestral / precio base trimestral / base price per term
                </span>
            </th>
            <th>
                <span style="font-weight: normal">
                   {{total_price}}€ (EUR)
                </span>
            </th>
        </tr>
        {% if grant %}
        <tr>
            <th>
                <span style="font-weight: normal">
                   beca Xamfrà / beca Xamfrà / Xamfrà's grant
                </span>
            </th>
            <th>
                <span style="font-weight: normal">
                   - {{total_price-paid_price}}€ (EUR)
                </span>
            </th>
        </tr>
        {% else %}
        <tr>
            <th>
                <span style="font-weight: normal">
                  aportació / aportación / donation
                </span>

            </th>
            <th>
                <span style="font-weight: normal">
                   + {{paid_price - total_price}}€ (EUR)
                </span>

            </th>
        </tr>
        {% endif %}
        <tr>
            <th>
                preu trimestral / precio trimestral / price per term
            </th>
            <th>
                {{paid_price}}€ (EUR)
            </th>
        </tr>
    </table>

        <hr>

    <div style="text-align: justify; font-size: x-small">

        {% if not student.age or student.age < 18 %}
        <input checked type="checkbox" id="underage_permission">
        <label for="underage_permission">Autoritzo l’ús del número de telèfon i adreça de correu electrònic de l'estudiant, menor d’edat, únicament i exclusiva per a finalitats derivades de l’activitat de Xamfrà.</label>
        <br>
        <input {% if student.image_agreement %} checked {% endif %} type="checkbox" id="image_permission">
        <label for="image_permission">Autoritzo l’ús de la imatge de l’estudiant, menor d'edat, per a que pugui aparèixer a materials escrits o multimèdia corresponents a activitats educatives organitzades per Xamfrà.</label>
        <br>
        {% else %}

        <input {% if student.image_agreement %} checked {% endif %} type="checkbox" id="image_permission">
        <label for="image_permission">Autoritzo l’ús de la meva imatge per a que pugui aparèixer a materials escrits o multimèdia corresponents a activitats educatives organitzades per Xamfrà.</label>
        <br>
        {% endif %}

        <input checked type="checkbox" id="p3">
        <label for="p3">En qualsevol cas, em comprometo a fer un ús responsable de les imatges obtingudes per mitjans propis de la participació d’alumnes de l’escola a activitats promogudes per aquesta.</label>
        <br>

        <input checked type="checkbox" id="p4">
        <label for="p4">Autoritzo l’ús de les dades de contacte proporcionades (correu electrònic, número de telèfon, adreça física, etc.) únicament i exclusiva per a finalitats derivades de o relacionades amb l’activitat de Xamfrà. Autoritzo que se m'enviï informació relacionada amb la gestió de l'activitat de Xamfrà i de l'estudiant mitjançant correu postal, correu electrònic, SMS, telèfon o WhatsApp.</label>
        <br>

        <input checked type="checkbox" id="p5">
        <label for="p5">He estat informat de la següent política de tractament de dades. El Responsable del Tractament de les vostres dades personals és Xamfrà, Centre de Música i Escena del Raval (Fundació l'ARC Música). La finalitat del tractament de les dades personals és la de gestionar la teva vinculació amb Xamfrà. La base de dades disposa de noms, telèfons, adreça postal, adreça electrònica i altres dades recollides explícitament durant el procés de prematriculació i matrículació. Les teves dades no seran comunicades a tercers sense previ consentiment. Pots exercir els drets d'accés, rectificació i oposició segons preveu a la normativa.</label>
        <br>

        <input checked type="checkbox" id="p6">
        <label for="p6">Declaro que les dades que faig constar en aquest document són certes.</label>
        <br>
</div>
        <br>


        <br>
        ____/____/________ [DD/MM/YYYY], Barcelona<br>
        <br><br><br><br>
        signatura / firma / signature, (nom / nombre / name, cognoms / apellidos / surnames, DNI / DNI / ID)<br>
    {% if student.is_underage %} [alumne / alumno / student] {% else %} [pare, mare o tutor legal / padre, madre o tutor legal / father, mother or legal guardian] {% endif %} <br>
        <hr>
        </div>

        </div>
        </div>
</div>


</body>

</html>