<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base email</title>
</head>
<body>
    <div id="m_-4989914633819843145body_style" style="background-color:#f7f7f7;width:100%;min-width:100%!important">
        <table width="100%" bgcolor="#F7F7F7" cellpadding="0" cellspacing="0" border="0"
               style="text-align:center;border-collapse:collapse">
            <tbody>
            <tr>
                <td style="border-collapse:collapse">
                    <table bgcolor="#F7F7F7" cellpadding="0" cellspacing="0" border="0" width="600" align="center"
                           style="border-collapse:collapse;margin:0px auto">

                        <tbody>
                        <tr>
                            <td bgcolor="#F7F7F7" align="center" style="border-collapse:collapse">
                                <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0"
                                       style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td width="100%" align="center" height="1"
                                            style="font-size:1px;line-height:1px;border-collapse:collapse">
                                            <div id="m_-4989914633819843145Preview-Text"
                                                 style="display:none;font-size:1px;color:#f7f7f7;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
                                                &nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td bgcolor="#F7F7F7" align="right" valign="top" style="border-collapse:collapse">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right"
                                       style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" width="100%" style="border-collapse:collapse">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right"
                                                   style="border-collapse:collapse">
                                                <tbody>
                                                <tr>
                                                    <td height="39"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td bgcolor="#FFFFFF" align="center" valign="top" style="border-collapse:collapse">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center"
                                       style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" width="100%" style="border-collapse:collapse">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                                   align="center" style="border-collapse:collapse">
                                                <tbody>
                                                <tr>
                                                    <td align="center" id="m_-4989914633819843145headline_image"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        <div>
                                                            <img src="https://centrifuga4.herokuapp.com/favicon.png"
                                                                 width="35" style="padding: 30px">
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td height="36"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td bgcolor="#FFFFFF" align="center" style="border-collapse:collapse">
                                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                                       style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px;border-collapse:collapse">
                                            &nbsp;
                                        </td>
                                        <td id="m_-4989914633819843145edit_text_1"
                                            style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:16px;color:#505050;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none;border-collapse:collapse"
                                            align="left">
                                            {% block body %}
                                            <p>this is a sample body</p>
                                            {% endblock %}

                                            <p style="margin:0;padding:0">Xamfrà (via <a target="_blank" href="https://c4.xamfra.net">centrífuga4</a>)</p>
                                            <p style="margin:0;padding:0"><br></p></td>
                                        <td width="41" style="font-size:1px;line-height:1px;border-collapse:collapse">
                                            &nbsp;
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px;border-collapse:collapse">
                                            &nbsp;
                                        </td>
                                        <td height="30" style="font-size:1px;line-height:1px;border-collapse:collapse">
                                            &nbsp;
                                        </td>
                                        <td width="41" style="font-size:1px;line-height:1px;border-collapse:collapse">
                                            &nbsp;
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td bgcolor="#FFFFFF" align="center" id="m_-4989914633819843145edit_cta_button"
                                style="border-collapse:collapse">
                                <div></div>
                            </td>
                        </tr>





                        <tr>
                            <td bgcolor="#F7F7F7" align="center" style="border-collapse:collapse">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center"
                                       style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td id="m_-4989914633819843145edit_text_3" align="center"
                                            style="border-collapse:collapse"><p style="margin:0;padding:0"><br></p>

                                            <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                   border="0" style="border-collapse:collapse">

                                                <tbody>




                                                <tr>
                                                    <td width="25"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        &nbsp;
                                                    </td>
                                                    <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:12px;color:#808080;font-weight:normal;text-align:center;line-height:150%;border-collapse:collapse"
                                                        align="center">
                                                        <div>
                                                            {% block legal %}
                                                            Avís legal: De conformitat amb el que estableix la Llei
                                                            orgànica 15/1999, de 13 de desembre, de protecció de dades
                                                            de caràcter personal, i la Llei 34/2002, de 11 de juliol, de
                                                            serveis de la societat de la informació i de comerç
                                                            electrònic, Xamfrà com a part de la fundació L’ARC Música
                                                            garanteix la confidencialitat i seguretat en el tractament
                                                            de les dades de caràcter personal incloses al nostre fitxer,
                                                            necessàries per a poder formalitzar i enviar les
                                                            informacions referents a les activitats organitzades o
                                                            d’altres que puguin ser del seu interès. Si no desitja rebre
                                                            més informació de Xamfrà, pot exercir el dret de
                                                            cancel·lació en qualsevol moment mitjançant un correu
                                                            electrònic a xamfra@xamfra.net
                                                            {% endblock %}


                                                        </div>
                                                    </td>
                                                    <td width="25"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        &nbsp;
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td width="41"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        &nbsp;
                                                    </td>
                                                    <td height="20"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        &nbsp;
                                                    </td>
                                                    <td width="41"
                                                        style="font-size:1px;line-height:1px;border-collapse:collapse">
                                                        &nbsp;
                                                    </td>
                                                </tr>


                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>